:root {
  --brand-color: #2196f3;
  --brand-color-background-1: #2f303a;
  --brand-color-background-2: #f5f4fa;
  --brand-color-header: #212121;
  --brand-color-text: #757575;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--brand-color-text);
  width: 1600px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header {
  display: flex;
  justify-content: flex-start;
  gap: 93px;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.logo {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.web {
  color: var(--brand-color);
}

.studio-header {
  color: #000000;
}

.header a:hover,
.header a:focus {
  color: var(--brand-color);
}

.nav-list {
  list-style-type: none;
  display: flex;
  width: 254px;
  height: 16px;
  justify-content: space-between;
}

.nav-list-item {
  width: 53px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list-link {
  text-decoration: none;
  color: var(--brand-color-header);
}

.mail {
  width: 135px;
}

.telephone {
  width: 110px;
}

.mail,
.telephone {
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-text);
}

.mail:hover,
.telephone:hover {
  color: var(--brand-color);
}

.main-header {
  background-color: var(--brand-color-background-1);
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.h1 {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.main-button {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.container.lorem-ipsum-list {
  padding-bottom: 0;
}

.lorem-ipsum-list {
  list-style-type: none;
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.lorem-ipsum-list-item {
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-header);
}

.lorem-ipsum-list p {
  width: 270px;
  height: 75px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do {
  width: 1170px;
  height: 386px;
}

.images-list-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-header);
}

.images-list {
  list-style-type: none;
  display: flex;
}

.images-list.what-we-do {
  justify-content: space-between;
}

.div-team {
  background-color: var(--brand-color-background-2);
}

.team {
  width: 1170px;
  height: 368px;
}

.team-list {
  flex-direction: row;
  justify-content: space-between;
}

.team-list > li:not(:last child) {
  margin-right: 30 px;
}

.figure-team {
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.images-list-item {
  display: block;
}

.figcaption-team {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--brand-color-header);
}

.position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.studio-footer {
  color: #ffffff;
}

.footer {
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--brand-color-background-1);
}

.city-street {
  width: 246px;
  height: 21px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 9px;
  color: #ffffff;
}

.mail-footer {
  width: 231px;
  height: 21px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.telephone-footer {
  width: 231px;
  height: 21px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.mail-footer:hover,
.mail-footer:focus,
.telephone-footer:hover,
.telephone-footer:focus {
  color: var(--brand-color);
}

.portfolio {
  width: 1170px;
}

.buttons-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
}

.buttons {
  width: 93px;
  height: 38px;
  background: var(--brand-color-background-2);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--brand-color-header);
  cursor: pointer;
}

.buttons:hover,
.buttons:focus {
  background-color: var(--brand-color);
  color: #ffffff;
}

.projects-list {
  flex-wrap: wrap;
}

.figure {
  display: table;
  width: 370px;
  height: 404px;
}

.figcaption {
  display: table-caption;
  caption-side: bottom;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-name {
  width: 322px;
  height: 36px;
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color-header);
}

.project-type {
  width: 322px;
  height: 30px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--brand-color-text);
}
